In [2]:
age = 30

In [3]:
age

30

In [4]:
print(age)

30

In [7]:
age = 30
apple_gothic
_age = 
# private 변수 : 언더바로 시작
# 단어간 구분자는 언더바로 많이 하고

In [8]:
apple gothic = 3

SyntaxError: invalid syntax (4244355615.py, line 1)

In [ ]:
if
for
class
def

In [9]:
type = "asd"

In [10]:
# numeric
age = 30
tall = 172.4123
body = 3e-2

In [11]:
# string
name = "Frank"
name_2024 = 'Frank'
name_2023 = '''
Frnak Frank Frank
fajwidjaw
adwdawd
'''

In [14]:
# boolean (참,거짓)
my_name = False
my_name == 1

False

In [15]:
# list
name_list = ["Frank", "Yerry", "Micky"]

In [17]:
name_list[0]

'Frank'

In [19]:
name_list[0] = "NewName"

In [20]:
name_list

['NewName', 'Yerry', 'Micky']

In [21]:
# tuple
name_tuple = ('Frank', 'Terry')

In [22]:
name_tuple[0] = "NewName"

TypeError: 'tuple' object does not support item assignment

In [25]:
# Dictionary
# key-value 구조

my_dict = {"name1": "Frank", "name2": "Terry"}

In [26]:
my_dict['name1']

'Frank'

In [27]:
my_dict['name2']

'Terry'

In [30]:
# set
name_list = ["Frank", "Yerry", "Micky", "Frank"]
my_set = set(name_list)

In [31]:
my_set

{'Frank', 'Micky', 'Yerry'}

In [32]:
age = -30

In [36]:
# string
name = "F rank"

In [37]:
name[0]

'F'

In [38]:
name[1]

' '

In [40]:
name + name

'F rankF rank'

In [41]:
name_list + name_list

['Frank', 'Yerry', 'Micky', 'Frank', 'Frank', 'Yerry', 'Micky', 'Frank']

In [43]:
age = 30

In [44]:
age * age

900

In [45]:
age - age

0

In [46]:
age / 15

2.0

In [47]:
age / 0

ZeroDivisionError: division by zero

In [48]:
name * 10

'F rankF rankF rankF rankF rankF rankF rankF rankF rankF rank'

In [49]:
p = "frank's present"

In [50]:
p

"frank's present"

In [51]:
p = 'frank"s present'

In [52]:
p = 'frank\'s present'
p

"frank's present"

In [53]:
p = 'frank \n s present'

In [60]:
p[25]

IndexError: string index out of range

In [ ]:
name_list = ["Frank", "Terry"]

In [61]:
name_list[0] + name_list[1]

'FrankYerry'

In [62]:
insert_name = "terry"
name = f'Frank {insert_name} asldijawd {insert_name}'

In [63]:
name

'Frank terry asldijawd terry'

In [69]:
dimension_list = [[1,2,3], ["a", "b", "c"], [1092, [1,2,3], 12.1231]]

In [83]:
name = "Marry"

In [84]:
if name == "Frank":
    print("Hello", name)
elif name == "Marry":
    pass
else:
    print("Your name is", "Terry")

In [86]:
if 30 > 10:
    print("True")

True

In [88]:
my_list = ['a', 'b', 'c']
if 'a' not in my_list:
    print("hello")

In [91]:
1 != 1

False

In [101]:
a = ""
b = 30

if a and b:
    print("hello")

In [102]:
if None:
    print("hello")

In [103]:
# False : 존재하지 않아도 False, 뭔가에 의해 반환될 수 있는 개념

In [106]:
age = None
age = ''
age = []
age = {}

In [107]:
if age:
    print("hello")

In [112]:
my_list = [1,2,3,6]

for i in my_list:
    if i == 2:
        break  # for 문을 종료
    else:
        print(i)

1

In [113]:
my_list = [1,2,3,6]

for i in my_list:
    if i == 2:
        continue  # for 문에서 현재 상황만 탈출
    else:
        print(i)

1
3
6

In [114]:
name = input("이름을 입력하세요.")

이름을 입력하세요. mike

In [116]:
len(name)

4

In [117]:
len(my_list)

4

In [118]:
age = 30  # numeric

In [119]:
str(age)

'30'

In [120]:
if str(age) == "30":
    print(age)

30

In [3]:
number_list = [1,2,4,234,6,1,23,12,312,4,34,1]
max(number_list)

312

In [1]:
age = 30

In [4]:
type(number_list)

list

In [5]:
def my_plus(a, b):
    print("input 1:", a)
    print("input 2:", b)
    return a + b

In [6]:
my_plus(1, 4)

input 1: 1
input 2: 4

5

In [7]:
def my_print():
    print("myprint1111")
    print("myprint1222")

In [8]:
my_print()

myprint1111
myprint1222

In [9]:
result = my_plus(3,4)
print(result)

input 1: 3
input 2: 4
7

In [11]:
def list_parser(dasd):
    for i in dasd:
        if i == 'Frank':
            print("hello", i)
        else:
            continue

In [12]:
my_list = ["Frank", "arry", "usiw"]
list_parser(my_list)

hello Frank

### 즉석 문제
- 주어진 리스트에서 30 이상인 값이 있는 경우에 해당 값의 제곱을 출력하는 함수를 만드세요
- 함수는 해당 값의 제곱 값을 반환해야 합니다
- 주어진 리스트에서 조건을 만족하는 모든 제곱값들의 합을 구하세요

In [16]:
number_list = [12, 25, 33, 49, 11, 31]
number ** 2

In [17]:
sum(number_list)

161

In [19]:
def get_square(input_list):
    output_list = []
    for num in input_list:
        if num >= 30:
            output_list.append(num ** 2)
    return output_list

In [21]:
result_list = get_square(number_list)

In [22]:
sum(result_list)

4451

### 즉석 문제 2
- 주어진 문자열 리스트 중, 문자열의 길이가 5가 넘는 문자열들을 모두 출력하세요
- 함수로 만드세요
- 함수는 문자열의 길이가 5가 넘는 문자열을 리스트로 모아서 반환해야 합니다

In [23]:
str_list = ["bubble gum", "how sweet", "heya"]

In [ ]:
# len(???), my_list.append(???)

In [29]:
def check_str_list(input_list):
    output_list = []
    for my_str in input_list:
        if len(my_str) > 5:
            output_list = output_list + [my_str]
            print(my_str)
    return output_list

In [30]:
result = check_str_list(str_list)

bubble gum
how sweet

In [31]:
result

['bubble gum', 'how sweet']

In [ ]:
!pip install pandas

In [32]:
import samsung

ModuleNotFoundError: No module named 'samsung'

In [35]:
import pandas

In [34]:
math.sqrt(16)

4.0

### 마지막 문제
- Student 라는 클래스를 만드세요
- Student는 생성할 때 이름과 키를 입력 받습니다.
- 이름과 키를 함께 출력하는 클래스 함수를 만드세요
- 학생의 키의 제곱을 반환하는 클래스 함수를 만드세요.

In [54]:
class Student:
    def __init__(self, name, height):
        self.name = name
        self.height = height
        
    def print_name_with_height(self):
        print(self.name, self.height)
    
    def get_height_square(self):
        return self.height ** 2

In [55]:
student_jason = Student("Jason", 168)  # 붕어빵과 붕어빵틀
student_jason.print_name_with_height()

Jason 168

In [56]:
student_jason.get_height_square()

28224